*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
/* NavBar */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #304991;
    padding: 1rem 2rem;
}
.navigation > a >img{
    width: 3rem;
}
.nav_links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_links > a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
/* artRef */
.artRef > h1{
    background-image: linear-gradient(to right bottom, rgb(45, 67, 134), rgb(40, 180, 133));
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 3rem 0;
    text-align: center;
}
.artRef_dh{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artRef_dmb-img{
    position: relative;
    margin-bottom: 3rem;
}
.artRef_dmb-img > img{
    width: 25rem;
    height: 15rem;
    border-radius: 5px;
    object-fit: cover;
}
.artRef_dmb-img > h3{
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translate(-5%,-5%);
    color: white;
    font-size: 1.6rem;
}
.artRef_dh-content{
    background-color: rgba(224, 224, 224, 0.4);
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.artRef_dh-content > div:first-child{
    display: flex;
    flex-direction: column;
}
.artRef_dh-content > div > img{
    width: 30vw;
    height: 16rem;
    object-fit: cover;
}
.artRef_dh-content > div > img:not(:last-child){
    margin-bottom: 2rem;
}
.artRef_dh-content > div:last-child{
    width: 50%;
    margin-left: 5rem;
}
.artRef_dh-content > div > p{
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 30px;
    margin-bottom: 1rem;
}
.artRef_dh-content > div > ul > li{
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 30px;
    margin-bottom: 0.4rem;
}
.artRef_m{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artRef_b{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artRef_b-content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;
    background-color: rgba(224, 224, 224, 0.4);
}
.artRef_b-content > span{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #304991;

}
.artRef_b-content > span > i {
    font-size: 1.6rem;
    margin-right: 1rem;
}
.artRef_b-content > small{
    width: 25%;
    font-size: 1rem;
    text-align: left;
    margin-top: 0.7rem;
    display: block;
}
.artRef_b-content > a > img{
    width: 20rem;
    height: 10rem;
    object-fit: cover;
} 
.artRef_m-content{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.4);
    padding: 3rem 0;
}
.artRef_m-content > p{
    width: 50%;
    padding: 1rem 3rem;
    background-color: white;
    font-size: 1.2rem;
}


/* Footer */

.footer{
    padding: 3rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 4px solid #304991;
}
.footer_col:not(:last-child){
    margin-right: 4rem;
}
.footer_col-1{
    width: 25%;
} 
.footer_col-2{
    padding: 0.7rem;
    text-align: center;
    display: grid;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 20rem;
    box-shadow: 0 0.6rem 1.5rem rgba(0 , 0 , 0 , 0.1);
} 
.footer_col-3{
    width: 20%;
} 
/* footer_col-1 */
.footer_col-1 > .heading{
    display: block;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.footer_col-1 > .days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #3d3d3d;
    letter-spacing: 0.3px;
    margin-bottom: 0.5rem;
}

.footer_col-1 > small{
    display: block;
    color: #3d3d3d;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.7rem;
}   
.footer_col-1 > .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer_col-1 > .info > i{
    font-size: 1.2rem;
    margin-right: 4px;
}
.footer_col-1 > .info > span{
    font-size: 0.8rem;
    color: #3d3d3d;
    letter-spacing: 0.5px;
}
.footer_col-1 > button{
    background-color: black;
    padding: 0.7rem;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0;
}
.footer_col-1 > .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_col-1 > .logos:not(:last-child){
    border-right: 1px solid #999;
}
.footer_col-1 > .logos > img{
    width: 4rem;
    height: 4rem;
}
.footer_col-1 > .logos > img:last-of-type{
    width: 12rem;
}
.footer_col-1 > .logos > img:nth-child(2){
    width: 3rem;
}

/* footer_col-2 */

.footer_col-2 > i{
    color: #304991;
    font-size: 1.5rem;
}
.footer_col-2 > span{
    font-weight: 700;
    font-size: 1.2rem;   
}
.footer_col-2 > small{
    color: #304991;
    font-size: 1.2rem;
}
.footer_col-2 > p{
    color: #3d3d3d;
    font-size: 1rem;
    margin: 0 1rem;
}
.footer_col-2 > p > span{
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}
.footer_col-2 > .circles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_col-2 > .circles > .circle{
    background-color: rgba(48, 73, 145,0.5);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 5px;
}
.footer_col-2 > .circles > .circle:nth-child(2){
    background-color: #304991;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
  }
  

/* footer-col-3 */

.footer_col-3-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.footer_col-3-links > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem; 
    color: black;
}
.footer_col-3-links > a:not(:last-child){
    margin-bottom: 0.7rem;
}
.footer_col-3-links > a > i{
    color: #3d3d3d;
}
.footer_col-3-icons > i{
    font-size: 2rem;
}
.footer_col-3-icons > i:not(:last-child){margin-right: 1rem;}


.footer_col-3-info > span{
    font-weight: 700;
    font-size: 1rem; 
    color: black;
    display: block;
    margin: 1.5rem 0;
}
.footer_col-3-info > img{
    height: 7rem;
}


@media(max-width: 900px){
    .footer{
        justify-content: space-between;
    }
    .footer_col-2{
        width: 35%;
    }
}
@media(max-width: 900px){
    .footer{
        flex-direction: column;
        position: relative;
        top: 0;
        transform: translateY(0);
        margin: 0 auto;
    }
    .footer_col-1{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .footer_col-2{
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer_col-3{
        width: 100%;
    }
}