@keyframes fade1{
    0%{
        opacity: 0;
        transform: translateX(5rem);    } 
    20%{
        opacity: 1;
        transform: translateX(0);}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}


@keyframes fade2{
    0%{opacity: 0;} 
    20%{opacity: 0;}
    40%{
        opacity: 0;
        transform: translateX(8rem);  }
    60%{opacity: 1;
        transform: translateX(0);}
    80%{opacity: 0;}
    100%{opacity: 0;}
}



@keyframes fade3{
    0%{
        opacity: 0;}
    20%{
        opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;
        transform: translateX(8rem);}
    100%{opacity: 1;
        transform: translateX(0);}
}

