*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
$Primary-color: #304991;
.sohImgContainer{
    width: 100vw;
    height: 22rem;
}
.sohImgContainer > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
