.container{
    background-color: #f7f7f7;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.4);
}
.col-img{
    display: grid;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(3 , 8vw);
    align-items: center;
}
.col-img__bg{
    width: 100%;
    height: 100%;
    background-color: $Primary-color;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
}
.col-img__bg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-img > img{
    width: 22rem;
    height: 26rem;
    object-fit: cover;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    border-radius: 0 0 94px 0;
    transition: all 0.2s;
}
.col-img > img:hover{
    transform: scale(1.02);
}

.col-content{
    position: relative;
    width: 50%;
}
.col-content > h1 > span{
    position: relative;
    z-index: 1;
}
.col-content > h1{
    background:  rgba(48, 73, 145,0.8);
    color: white;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-weight: bold;
    width: 22rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
}
.col-content > h1 > span{
    position: relative;
    z-index: 1;
}
.col-content > h1::after{
    background: $Primary-color;
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.2s;
}
.col-content > h1:hover::after{
    clip-path: polygon(-6% 0, 0 100%, 0 100%, 100% 100%);
}
.col-content > h2{
    color: $Primary-color;
    margin-bottom: 0.5rem;
}
.col-content > h3{
    font-size: 1.2rem;
    color: #3d3d3d;
    margin-bottom: 1rem;
}
.col-content > p{
    width: 80%;
    font-size: 1.14rem;
    text-align: justify;
}
.col-content > p > span{
    font-size: 5.2rem;
    color: $Primary-color;
    position: absolute;
}
.span_1{
    top: 20%;
    left: -7%;
}
.span_2{
    bottom: -10%;
    right: 15%;
}
.btn{
    cursor: pointer;
    width: max-content;
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    color: $Primary-color;
    font-size: 1.1rem;
    transition: all 0.1s ;
}
.btn:hover{
    border-bottom: 2px solid $Primary-color;
}


@media(max-width: 1190px){
    .col-content{width: 47%;}
}
@media(max-width: 1100px){
    .col-content{width: 42%;}
}
@media(max-width: 1000px){
    .col-img > img{width: 20rem;}
    .col-content > h1{width: 17rem;}
}
@media(max-width: 900px){
    .col-img > img{
        width: 18rem;
        height: 20rem;
    }
    .span_1{left: -10%;}
    .col-content > h1{
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    .col-content > p > span{
        font-size: 3rem;
    }
}
@media(max-width: 800px){
    .row{width: 100%;}
    .col-img {
        grid-template-rows: repeat(3, 8rem);
    }
    .col-img > img{
        width: 15rem;
        height: 18rem;
    }
    .col-content{width: 50%;}
    .col-content > p {width: 95%;}

}
@media(max-width: 725px){
    .col-content{width: 55%;}
}
@media(max-width: 700px){
    .col-img {
        grid-template-columns: repeat(3, 5vw);
    }
    .col-img > img{
        width: 13rem;
        height: 15rem;
    }
    .col-content > h1{font-size: 1rem;}
    .btn{font-size: 0.8rem;}
}
@media(max-width: 600px){
    .container{
        padding: 3rem 0; 
        background: white;
    }
    .row{
        flex-direction: column;
        box-shadow: none;
    }
    .col-img{
        display: block;
        position: relative;
        margin-bottom: 2rem;
    }
    .col-img > img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        width: 15rem;
        height: 18rem;
    }
    .col-content > h1 {
        font-size: 1rem;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
    }
    .col-img__bg{height: 18rem;}
    .col-img > img:hover {
        transform: scale(0);
    }
    .col-content{
        width: 100%;
        text-align: center;
        padding: 0 2rem;
    }
    .col-content > p {
        width: 100%;
    }
    .span_1{left: 10%;}
}
