.explore{
    & > h1 {
        margin:  0 3rem 3rem 3rem;
        font-size: calc(1.375rem + (32 - 22) * ((100vw - 375px) / (1440 - 375)));
        line-height: 1.1;
        color: $Primary-color;
    }
    &_cards{
        // & > div{
        // margin-left: -3rem;
        // }
        & > button{
            background: white;
            border-radius: 0;
        }
        & > button:first-of-type{
            left: 0;
        }
        & > button:last-of-type{
            right: 0;
        }
        & .flickity-page-dots{display: none !important;}
    }
    &_card{
        position: relative;
        width: 20rem;
        height: 400px;
        margin-right: 20px;
        border-radius: 5px;
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.2s;
            cursor: pointer;
            &:hover{
                transform:scale(1.05);
            }
        }
        & > h2{
            background-color: $Primary-color;
            padding: 0.5rem;
            color: white;
            position: absolute;
            bottom: 5%;
            left: 7%;
            transform: translate(-5%,-5%);
        }
        & > small{
            position: absolute;
            top: 3%;
            right: 5%;
            background: $Primary-color;
            color: white;
            font-size: 1rem;
            padding: 0.3rem;
        }
    }
}