.explore{
    margin: 3rem;
    overflow-x: hidden;
}
.explore_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.explore_heading-nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore_heading-nav > a{
    text-decoration: none;
    color: #304991;
    font-size: 0.9rem;
}
.explore-nav-link-active{
    border-bottom: 2px solid #304991;
}
.explore_cards{
    width: max-content;
    display: flex;
}
.explore_card{
    width: 26rem;
    position: relative;
}
.explore_card > i{
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 1.8rem;
    color: white;
}
.explore_card > i::before{
    content: "";
    padding: 0.5rem;
    border-radius: 3px;
    background: #304991;
}
.explore_card:not(:last-child){margin-right: 1.5rem;}
.explore_card > img{
    width: 100%;
    height: 20rem;
}
.explore_card > h1{
    padding: 1rem 0 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #304991;
}
.explore_card > span{
    color: #3d3d3d;
    letter-spacing: 0.2px;
    font-size: 1rem;

}

@media(max-width: 750px){
    .explore{
        margin: 3rem 2rem;
    }
    .explore_heading-nav{width: 70%;}
}
@media(max-width: 700px){
    .explore{
        margin: 2rem;
    }
}
@media(max-width: 500px){
    .explore_card{width: 100vw;}
    .explore_heading-nav > a{
        display: none;
    }
}