.footer{
    padding: 3rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 4px solid $Primary-color;
}
.footer_col:not(:last-child){
    margin-right: 4rem;
}
.footer_col-1{
    width: 25%;
} 
.footer_col-2{
    padding: 0.7rem;
    text-align: center;
    background-color: white;
    width: 25%;
    height: 22rem;
    box-shadow: 0 0.6rem 1.5rem rgba(0 , 0 , 0 , 0.1);
} 
.footer_col-3{
    width: 20%;
} 
/* footer_col-1 */
.footer_col-1 > .heading{
    display: block;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.footer_col-1 > .days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #3d3d3d;
    letter-spacing: 0.3px;
    margin-bottom: 0.5rem;
}

.footer_col-1 > small{
    display: block;
    color: #3d3d3d;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.7rem;
}   
.footer_col-1 > .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer_col-1 > .info > i{
    font-size: 1.2rem;
    margin-right: 4px;
}
.footer_col-1 > .info > span{
    font-size: 0.8rem;
    color: #3d3d3d;
    letter-spacing: 0.5px;
}
.footer_col-1 > button{
    background-color: black;
    padding: 0.7rem;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0;
}
.footer_col-1 > .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_col-1 > .logos:not(:last-child){
    border-right: 1px solid #999;
}
.footer_col-1 > .logos > img{
    width: 4rem;
    height: 4rem;
}
.footer_col-1 > .logos > img:last-of-type{
    width: 12rem;
}
.footer_col-1 > .logos > img:nth-child(2){
    width: 3rem;
}

/* footer_col-2 */
.footer_col-2  .footer_col-2-div{
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.footer_col-2  .footer_col-2-div > i{
    color: $Primary-color;
    font-size: 1.5rem;
}
.footer_col-2  .footer_col-2-div > span{
    font-weight: 700;
    font-size: 1.2rem;   
}
.footer_col-2  .footer_col-2-div > a{
    color: $Primary-color;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer_col-2  .footer_col-2-div > p{
    color: #3d3d3d;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.footer_col-2  .footer_col-2-div > p > span{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.footer_col-2  .footer_col-2-div > p > small{
    color: $Primary-color;
    font-size: 1rem;
    border-bottom: 1px solid $Primary-color;
}
.footer_col-2  .footer_col-2-div> .circles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_col-2  .footer_col-2-div > .circles > .circle{
    background-color: rgba(48, 73, 145,0.5);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 5px;
}
.footer_col-2  .footer_col-2-div .circles .active-circle{
    background-color: $Primary-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}
.footer_col-2 .flickity-button{display: none !important;}
.footer_col-2 .flickity-page-dots{display: none !important;}

/* footer-col-3 */

.footer_col-3-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.footer_col-3-links > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem; 
    color: black;
}
.footer_col-3-links > a:not(:last-child){
    margin-bottom: 0.7rem;
}
.footer_col-3-links > a > i{
    color: #3d3d3d;
}
.footer_col-3-icons  i{
    font-size: 2rem;
    color: black;
}
.footer_col-3-icons > i:not(:last-child){margin-right: 1rem;}


.footer_col-3-info > span{
    font-weight: 700;
    font-size: 1rem; 
    color: black;
    display: block;
    margin: 1.5rem 0;
}
.footer_col-3-info > img{
    height: 7rem;
}


@media(max-width: 900px){
    .footer{
        justify-content: space-between;
    }
    .footer_col-2{
        width: 35%;
    }
}
@media(max-width: 900px){
    .footer{
        flex-direction: column;
        position: relative;
        top: 0;
        transform: translateY(0);
        margin: 0 auto;
    }
    .footer_col-1{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .footer_col-2{
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer_col-3{
        width: 100%;
    }
    .footer_col-1 > .logos > img:last-of-type{
        width: 10rem;
    }
}