.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#000, $alpha: 0.8);
    transition: all .3s;
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &__close{
        &:link,
        &:visited{
            color: #000;
            position: absolute;
            top: 3rem;
            right: 4rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;

        }
       
    }
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba(#000 ,.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }
    &__left{
        width: 40%;
        display: table-cell;
    }
    &__right{
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        & > h2{
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text{
      font-size: 1rem;
      margin-bottom: 4rem;
      letter-spacing: 0.2px;
      line-height: 23px;
    }
    & .popup_btn{
        color: white;
        text-decoration: none;
        background: $Primary-color;
        padding: 1rem 2.5rem;

    }
}