
.vd_container{
    padding: 2rem 0 1rem 0rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer{
    position: relative;
    display: inline-block;
    width: 20%;
    height: 40rem;
    transition: all 0.2s;
}
.videoContainer::after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    transition: all 0.2s;
}
.videoContainer:hover::after{
    background: transparent;
}
.videoContainer_heading{
    display: none;
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0.4rem 0;
}
.videoContainer_small{
    display: none;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.videoContainer:hover .videoContainer_heading{display: block;}
.videoContainer:hover .videoContainer_small{display: block;}
.lg-width{
    position: relative;
    display: inline-block;
    width: 45%;
}
.videoContainer:not(:last-child){
    margin-right: 1rem;
}
.videoContainer_1{
    margin-top: 4rem;
}
.videoContainer_3{
    margin-top: 4rem;
}
.videoContainer_5{
    margin-top: 4rem;
}
.videoContainer_7{
    margin-top: 4rem;
}
.videoContainer_9{
    margin-top: 4rem;
}
.videoContainer > video{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

@media(max-width: 675px){
    .vd_container {
        padding: 2rem 0;
    }
    .videoContainer:not(:last-child) {
        margin-right: 0.4rem;
    }
}

@media(max-width: 500px){
    .videoContainer_7{
        display: none;
    }
    .videoContainer_6{
        display: none;
    }
    .videoContainer{
        height: 30rem;
    }

}