@import "./base";
@import "./header";
@import "./about";
@import "./animation";
@import "./dg";
@import "./exhibition";
@import "./explore";
@import "./footer";
@import "./info";
@import "./links";
@import "./news";
@import "./vacancies";
@import "./video";
@import './cards.scss';
@import './popup';
@import './timeline';
